.cache/
.idea/
.vscode/
dist/
node_modules/
storybook-static/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log
.eslintcache

# Android
cordova/platforms/android/.gradle
cordova/platforms/android/build
cordova/platforms/android/app/build
cordova/platforms/android/app/src/main/assets/www
cordova/platforms/android/local.properties
cordova/platforms/android/CordovaLib/build
cordova/platforms/android/CordovaLib/gen
cordova/platforms/android/CordovaLib/local.properties


# iOS
cordova/platforms/ios/build/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log
*.xcuserdatad