.cache/
.idea/
.parcel-cache/
.vscode/
dist/
node_modules/
storybook-static/
.DS_Store
Thumbs.db
*.env
*.sublime-project
*.sublime-workspace
*.log
.eslintcache

cordova/config.xml
cordova/platforms/
cordova/plugins/
!cordova/.env
