html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    size: A4 landscape;
  }
}

body {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.android-top-spacing {
  padding-top: 28px;
}

.iphone-notch-top-spacing {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

.iphone-notch-left-spacing {
  padding-left: constant(safe-area-inset-left); /* iOS 11.0 */
  padding-left: env(safe-area-inset-left); /* iOS 11.2 */
}

.iphone-notch-right-spacing {
  padding-right: constant(safe-area-inset-right); /* iOS 11.0 */
  padding-right: env(safe-area-inset-right); /* iOS 11.2 */
}

.iphone-notch-bottom-spacing {
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

.mac-frameless-window-invisible-title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-app-region: drag;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
