body {
  background-color: white;
  cursor: default;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mac-frameless-window-invisible-title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-app-region: drag;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
