<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover, width=device-width">
    <meta http-equiv="Content-Security-Policy" content=" default-src * data: blob: ws: wss: gap://ready file://*; connect-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob:; style-src 'self' 'unsafe-inline'; worker-src 'self' blob:;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solar Wallet</title>
    <link href="./fonts.css" rel="stylesheet">
    <link href="./base-styles.css" rel="stylesheet">
    <link href="./splash.css" rel="stylesheet">
    <link class="sandbox-script" href="/index.prod.njk" rel="preload">

    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden
      }

      #walletframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border: 0;
      }
    </style>
  </head>
  <body>
    <iframe id="walletframe">
    </iframe>

    <script>
      const preloadLink = document.querySelector("head > link.sandbox-script");

      if (!preloadLink) {
        throw new Error("Link to app script not found.");
      }

      function onDeviceReady() {
        // Need to delay iframe initialization, so we have time to set up our event listeners first
        walletframe.src = preloadLink.getAttribute("href");

        setTimeout(function() {
          // iPhone X iframe height fix
          walletframe.style.height = window.innerHeight

          navigator.splashscreen.hide();
        }, 100);
      }

      document.addEventListener("deviceready", onDeviceReady, false);
    </script>

    <script src="../cordova/platforms/ios/platform_www/cordova.js"></script>
    <script src="./cordova/app.cordova.ts"></script>
  </body>
</html>
