<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src *; script-src 'self' 'unsafe-eval' blob:; style-src 'self' 'unsafe-inline'; worker-src 'self' blob:;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solar Wallet</title>
    <link href="./fonts.css" rel="stylesheet">
    <link href="./base-styles.css" rel="stylesheet">
    <link href="./splash.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    {% include "splash.html" %}
    <script src="./app.tsx"></script>
  </body>
</html>
