@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom, #01b3f3, #0176dc);
  color: white;
  transition: opacity 0.3s;
}

#splash > img {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 40vw;
  max-height: 25vh;
  animation: fade-in 0.5s linear;
}

#splash .splash-caption {
  animation: fade-in 0.3s linear;
}

#splash .splash-caption img {
  height: 4vh;
  margin: 20px 0 0;
}

#splash h3 {
  margin: 0;
  font-size: 1.9vh;
  font-weight: 400;
  line-height: 100%;
  text-align: right;
}
